/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

/*multiple selectors - used tp select multiple selectors with different type/claa/id*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;

}

#intro button{
	color: white;
	/*font-weight = declares the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*
INFO SECTION
*/	
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
/*percentage value in width means that the element will occupy the 30% of the viewport width*/
	width: 30%;
	margin-right: .5rem;
	margin-left: .5rem;
	padding: 5px;
	/*min-height - sets the minimum height for the element especially if the content does not reach the target height*/
	min-height: 125px;
}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer	{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-right: .5rem;
	padding: 5px;	
	background-color: #000C58;
}
.footer{
	display: table-cell;
	padding-left: 10px ;
	padding-right: 150px;
	padding-top: 30px;
	padding-bottom: 14px;
	font-size: 22px;
	color: #FFFFFF;
	
}
.footer > p{
	color: #E2E2E2;
	padding: 4px;
}

.span{
	padding: 18px;
	border-right: 20px;
}
.span>span{
	padding: 18px;
	font-size: 1.3rem;
}